
body{
display: block;
margin-left: auto;
margin-right: auto;
color: black;
background-image: url('assets/arctic.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}

.wipseal {
  display: block;
  margin-left: auto;
  margin-right: 40%;
  margin-top: 28%;
  width:10%;
  height: 10%;
}

